/* Reset */
* {
    box-sizing: border-box;    
}



* {
    box-sizing: border-box;
}
body {
    font-family: monospace, sans-serif;
    background-color: rgb(31, 36, 33);
    text-align: center;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    
}
#inicio {
    border-radius: 20px;
}
#minhas-habilidades {
    border-radius: 20px;
}
h1, h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    
}
span {
    color: gold;
}

.foto-atual {
    width: 200px;
    border-radius: 50%;
    
}
.foto-link-interno {
    width: 150px;
    margin: 30px 0 30px 0;
    border-radius: 20%;       
}
ul {
    list-style: none;    
}
ul li {
    text-align: left;                     
    line-height: 50px;;
}
.habilidades {

}                
.title-h2, h1 {
    background-color: rgb(245, 47, 87);
    margin-top: 100px;
}
a {
    text-decoration: none;
    color: gold;
    font-size: 1.5em;
}
.section {
    margin-bottom: 250px;
}
.cidade-estado {
    font-style:oblique;
}
.indice-secoes {
    background: rgb(245,47,87);
    font-size: 12px;
    margin-top: 80px;                    
}.indice-secoes li a {
    color: #fff;         
}
.main-container {
    width: 100%;
    margin-bottom: 100px;
}
.main-container .texto {
    margin-top: 70px;
}

.imagem {
    width: 45%;
    float: left;
    margin-top: -40px;    
}
.imagem img {
    padding: 5px;    
    border:rgb(245, 47, 87) solid 4px;
    background: rgb(245, 47, 87);    
}

.main-container .texto p {
    letter-spacing: 4px;
    text-align: left;
    
}

.habilidades-container {
    width: 100%;    
}
.habilidades-container .texto {
    float: left;    
}
.habilidades-container .imagem {
    margin-top: 5px;    
}
.habilidades-container .imagem img {
    border-radius: 15px 22px 80px 0;
    padding: 1px;
}
.blog-container {
    margin-top: 50px;
}